<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Curriculum Vitae</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="c157 doc-content">
    <p class="c110"><span class="c142"></span></p>
    <table class="c11">
      <tr class="c177">
        <td class="c145" colspan="13" rowspan="1">
          <p class="c234"><span class="c29"></span></p>
          <p class="c84"><span class="c39">CURRICULUM VITAE</span></p>
        </td>
        <td class="c205" colspan="3" rowspan="5">
          <p class="c124"><span class="c82"></span></p>
          <p class="c72">
            <span
              style="
                overflow: hidden;
                display: inline-block;
                margin: 0px 0px;
                border: 0px solid #000000;
                transform: rotate(0rad) translateZ(0px);
                -webkit-transform: rotate(0rad) translateZ(0px);
                width: 123.47px;
                height: 220.69px;
              "
              ><img
                alt=""
                src="images/image.png"
                style="
                  width: 114.37px;
                  height: 230.73px;
                  margin-left: -0px;
                  margin-top: -10.03px;
                  transform: rotate(0rad) translateZ(0px);
                  -webkit-transform: rotate(0rad) translateZ(0px);
                "
                title=""
            /></span>
          </p>
        </td>
      </tr>
      <tr class="c132">
        <td class="c145" colspan="13" rowspan="1">
          <p class="c10"><span class="c42"></span></p>
        </td>
      </tr>
      <tr class="c184">
        <td class="c140 c154" colspan="13" rowspan="1">
          <p class="c159"><span class="c5">Personal Details</span></p>
        </td>
      </tr>
      <tr class="c237">
        <td class="c83" colspan="2" rowspan="1">
          <p class="c141"><span class="c4">Name</span></p>
        </td>
        <td class="c133" colspan="4" rowspan="1">
          <p class="c209"><span class="c46">{{ name }}</span></p>
        </td>
        <td class="c31" colspan="2" rowspan="1">
          <p class="c100"><span class="c4">Surname</span></p>
        </td>
        <td class="c59" colspan="5" rowspan="1">
          <p class="c118"><span class="c4">{{ surname }}</span></p>
        </td>
      </tr>
      <tr class="c208">
        <td class="c83" colspan="2" rowspan="1">
          <p class="c183"><span class="c4">Mother</span></p>
        </td>
        <td class="c133" colspan="4" rowspan="1">
          <p class="c130"><span class="c4">{{ mother_name }}</span></p>
        </td>
        <td class="c31" colspan="2" rowspan="1">
          <p class="c147"><span class="c4">Father</span></p>
        </td>
        <td class="c59" colspan="5" rowspan="1">
          <p class="c206"><span class="c4">{{ father_name }}</span></p>
        </td>
      </tr>
      <tr class="c37">
        <td class="c83" colspan="2" rowspan="1">
          <p class="c40"><span class="c4">Height</span></p>
        </td>
        <td class="c133" colspan="4" rowspan="1">
          <p class="c160"><span class="c4">{{ height }} cm</span></p>
        </td>
        <td class="c31" colspan="2" rowspan="1">
          <p class="c203"><span class="c4">Weight</span></p>
        </td>
        <td class="c59" colspan="5" rowspan="1">
          <p class="c149"><span class="c4">{{ weight }} kg</span></p>
        </td>
        <td class="c175" colspan="3" rowspan="1">
          <p class="c10"><span class="c57"></span></p>
        </td>
      </tr>
      <tr class="c227">
        <td class="c83" colspan="2" rowspan="1">
          <p class="c115"><span class="c143">Marital Status/ Children</span></p>
        </td>
        <td class="c133" colspan="4" rowspan="1">
          <p class="c21"><span class="c4">{{ marital_status }}</span></p>
        </td>
        <td class="c31" colspan="2" rowspan="1">
          <p class="c196"><span class="c4">Place of Birth</span></p>
        </td>
        <td class="c6" colspan="4" rowspan="1">
          <p class="c239"><span class="c4">{{ place_of_birth }}</span></p>
        </td>
        <td class="c49" colspan="1" rowspan="1">
          <p class="c126"><span class="c4">Date of Birth</span></p>
        </td>
        <td class="c56" colspan="3" rowspan="1">
          <p class="c41"><span class="c4">{{ date_of_birth }}</span></p>
        </td>
      </tr>
      <tr class="c211">
        <td class="c83" colspan="2" rowspan="1">
          <p class="c214"><span class="c4">Adress</span></p>
        </td>
        <td class="c123" colspan="14" rowspan="1">
          <p class="c28"><span class="c4">{{ address }}</span></p>
        </td>
      </tr>
      <tr class="c190">
        <td class="c83" colspan="2" rowspan="1">
          <p class="c88"><span class="c4">Passport No</span></p>
        </td>
        <td class="c133" colspan="4" rowspan="1">
          <p class="c178"><span class="c4">{{ passport_number }}</span></p>
        </td>
        <td class="c31" colspan="2" rowspan="1">
          <p class="c202"><span class="c4">Issue Date</span></p>
        </td>
        <td class="c6" colspan="4" rowspan="1">
          <p class="c242"><span class="c4">{{ passport_issue_date }}</span></p>
        </td>
        <td class="c49" colspan="1" rowspan="1">
          <p class="c176"><span class="c4">Exp. Date</span></p>
        </td>
        <td class="c56" colspan="3" rowspan="1">
          <p class="c90"><span class="c4">{{ passport_exp_date }}</span></p>
        </td>
      </tr>
      <tr class="c201">
        <td class="c33" colspan="2" rowspan="1">
          <p class="c89"><span class="c4">Issued By</span></p>
        </td>
        <td class="c2" colspan="4" rowspan="1">
          <p class="c236"><span class="c4">{{ passport_issue_date }}</span></p>
        </td>
        <td class="c75" colspan="2" rowspan="1">
          <p class="c14"><span class="c4">Citizenship</span></p>
        </td>
        <td class="c102" colspan="4" rowspan="1">
          <p class="c152"><span class="c4">{{ citizenship }}</span></p>
        </td>
        <td class="c23" colspan="1" rowspan="1">
          <p class="c238"><span class="c4">Phone No</span></p>
        </td>
        <td class="c146" colspan="3" rowspan="1">
          <p class="c78"><span class="c4">{{ phone }}</span></p>
        </td>
      </tr>
      <tr class="c213">
        <td class="c98" colspan="16" rowspan="1">
          <p class="c148"><span class="c5">Education Details</span></p>
        </td>
      </tr>
      <tr class="c181">
        <td class="c217" colspan="5" rowspan="1">
          <p class="c170"><span class="c4">Start year/ Finish year</span></p>
        </td>
        <td class="c45" colspan="6" rowspan="1">
          <p class="c51"><span class="c4">School name</span></p>
        </td>
        <td class="c48" colspan="4" rowspan="1">
          <p class="c174"><span class="c4">Subject / Training</span></p>
        </td>
        <td class="c212" colspan="1" rowspan="1">
          <p class="c240"><span class="c4">Country</span></p>
        </td>
      </tr>
      {% for edu in education %}
      <!-- For Loop Here -->
      <tr class="c230">
        <td class="c50" colspan="1" rowspan="1">
          <p class="c135"><span class="c4">{{ edu.education_start }}</span></p>
        </td>
        <td class="c164" colspan="4" rowspan="1">
          <p class="c194"><span class="c4">{{ edu.education_finish }}</span></p>
        </td>
        <td class="c70" colspan="6" rowspan="1">
          <p class="c8">
            <span class="c4">{{ edu.education_name }}</span>
          </p>
        </td>
        <td class="c144" colspan="4" rowspan="1">
          <p class="c12">
            <span class="c87">{{ edu.education_subject }}</span>
          </p>
        </td>
        <td class="c107" colspan="1" rowspan="1">
          <p class="c12"><span class="c4">{{ edu.education_country }}</span></p>
        </td>
      </tr>
      <!-- End For Loop -->

      {% endfor %}

      <tr class="c208">
        <td class="c98" colspan="16" rowspan="1">
          <p class="c221"><span class="c5">Work Experience</span></p>
        </td>
      </tr>
      <tr class="c182">
        <td class="c217" colspan="5" rowspan="1">
          <p class="c220"><span class="c4">Start year/ Finish year</span></p>
        </td>
        <td class="c45" colspan="6" rowspan="1">
          <p class="c67"><span class="c4">COMPANY&rsquo;S NAME</span></p>
        </td>
        <td class="c48" colspan="4" rowspan="1">
          <p class="c106"><span class="c4">Position</span></p>
        </td>
        <td class="c212" colspan="1" rowspan="1">
          <p class="c38"><span class="c4">Country</span></p>
        </td>
      </tr>
      {% for work in work_experience %}
      <!-- For Loop Here -->
      <tr class="c222">
        <td class="c50" colspan="1" rowspan="1">
          <p class="c198"><span class="c4">{{ work.work_start }}</span></p>
        </td>
        <td class="c164" colspan="4" rowspan="1">
          <p class="c44"><span class="c4">{{ work.work_finish }}</span></p>
        </td>
        <td class="c70" colspan="6" rowspan="1">
          <p class="c207"><span class="c4">{{ work.work_name }}</span></p>
        </td>
        <td class="c144" colspan="4" rowspan="1">
          <p class="c210"><span class="c4">{{ work.work_subject }}</span></p>
        </td>
        <td class="c107" colspan="1" rowspan="1">
          <p class="c210"><span class="c4">{{ work.work_country }}</span></p>
        </td>
      </tr>
      <!-- End For Loop -->

      {% endfor %}

      <tr class="c195">
        <td class="c58" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c191" colspan="4" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c53" colspan="6" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c113" colspan="4" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c200" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
      </tr>
      <tr class="c189">
        <td class="c98" colspan="16" rowspan="1">
          <p class="c232">
            <span class="c5">Massage and Therapy Skills </span
            ><span class="c243">(put </span><span class="c39">+ </span
            ><span class="c4">if you have the next skills)</span>
          </p>
        </td>
      </tr>
      <tr class="c32">
        <td class="c185" colspan="3" rowspan="1">
          <p class="c235"><span class="c15">Reflexology</span></p>
        </td>
        <td class="c35" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c134" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c20" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c24" colspan="2" rowspan="1">
          <p class="c19"><span class="c15">Warm Stone</span></p>
          <p class="c76"><span class="c15">massage</span></p>
        </td>
        <td class="c13" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c233" colspan="3" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c168" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c121" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
      </tr>
      <tr class="c199">
        <td class="c64" colspan="3" rowspan="1">
          <p class="c245"><span class="c15">Lomi- Lomi Massage</span></p>
        </td>
        <td class="c61" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c93" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c30" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c122" colspan="2" rowspan="1">
          <p class="c156"><span class="c15">Shiatsu Massage</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c68" colspan="3" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c60" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c74" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
      </tr>
      <tr class="c32">
        <td class="c64" colspan="3" rowspan="1">
          <p class="c19"><span class="c15">Balinese</span></p>
          <p class="c129"><span class="c15">Massage</span></p>
        </td>
        <td class="c61" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c93" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c30" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c122" colspan="2" rowspan="1">
          <p class="c19"><span class="c15">Aromatherapy</span></p>
          <p class="c129"><span class="c15">Massage</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c68" colspan="3" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c60" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c74" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
      </tr>
      <tr class="c73">
        <td class="c64" colspan="3" rowspan="1">
          <p class="c127"><span class="c15">Hamam</span></p>
        </td>
        <td class="c61" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c93" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c30" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c122" colspan="2" rowspan="1">
          <p class="c156"><span class="c15">Medical Massage</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c68" colspan="3" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c60" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c74" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
      </tr>
      <tr class="c247">
        <td class="c64" colspan="3" rowspan="1">
          <p class="c112"><span class="c4">Thai Massage</span></p>
        </td>
        <td class="c61" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c93" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c30" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c122" colspan="2" rowspan="1">
          <p class="c244"><span class="c15">Manicure</span></p>
        </td>
        <td class="c16" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c68" colspan="3" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c60" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c74" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
      </tr>
      <tr class="c182">
        <td class="c125" colspan="3" rowspan="1">
          <p class="c52"><span class="c4">Deeptissue Massage</span></p>
        </td>
        <td class="c172" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c228" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c171" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c158" colspan="2" rowspan="1">
          <p class="c138"><span class="c15">Facial</span></p>
        </td>
        <td class="c25" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c92" colspan="3" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c128" colspan="1" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
        <td class="c86" colspan="2" rowspan="1">
          <p class="c10"><span class="c7"></span></p>
        </td>
      </tr>
    </table>
    <p class="c10"><span class="c7"></span></p>
    <p class="c193">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 293.51px;
          height: 592.14px;
        "
        ><img
          alt=""
          src="images/image.png"
          style="
            width: 293.51px;
            height: 592.14px;
            margin-left: 0px;
            margin-top: 0px;
            transform: rotate(0rad) translateZ(0px);
            -webkit-transform: rotate(0rad) translateZ(0px);
          "
          title=""
      /></span>
    </p>
    <p class="c179">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 378.71px;
          height: 531.48px;
        "
        ><img
          alt=""
          src="images/image.png"
          style="
            width: 378.71px;
            height: 531.48px;
            margin-left: 0px;
            margin-top: 0px;
            transform: rotate(0rad) translateZ(0px);
            -webkit-transform: rotate(0rad) translateZ(0px);
          "
          title=""
      /></span>
    </p>
  </body>
</html>
